<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<appSettings>
  <!--Modbus Tcp服务默认端口-->
  <add key="port" value="502"/>
  <!--每种寄存器容量, 最大为65535， 最小为1-->
  <add key="maxSize" value="10000"/>
  <!--最大支持设备数 4表示支持1,2,3,4-->
  <add key="maxDeviceId" value="4"/>
  <!--是否开启定时更新 1-开启 0-关闭 -->
  <add key="enableAutoUpdate" value="1"/>
  <!--定时更新数据时间间隔，单位秒-->
  <add key="updateInterval" value="60"/>
</appSettings>
</configuration>